/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	background-color: #011627;
	margin: 0;
	
}
body::after { /*Transparent Background Images*/
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body,
button,
input,	
select,
textarea {
	color: #FDFFFC;
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	line-height: 1.5;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}
/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
* {
    box-sizing: border-box;
}
.masthead{
	padding: 2em;
	text-align: center;
	
}
h1{

	display: inline-block;
}
.content{
	padding: 0 2em 6em ;
	text-align: center;
	
}
.content .temperature{
	padding: 2em ;
}
.content .temperature #temperature{
	display: inline;
	margin: 1em;
}


.colophon{
	padding: 1em 2em;
  background: #2EC4B6;
	text-align: center;
}
.colophon  a {
	font-family: 'Montez', cursive;
	font-size: 1.4em;
	color: white;

}
img{
	 display: block;
    margin: auto;
    width: 62px;
    height: 62px;
}
#CF{
	vertical-align: text-bottom;
	fill: 	  #FF9F1C;

}
#CF:hover{
	fill: 	  #E71D36;

}

#location{
	fill: #E71D36;
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@media screen and (min-width: 800px){
	.site {
    display: grid;
    grid-template-columns: 300px auto 120px;
    grid-template-rows: 125px 577px 125px;
    
}
	.masthead{
		grid-column: 1/4;
    grid-row: 1/2;
	}
	.content{
		grid-column: 1/4;
	 grid-row: 2/3;

	}
	.colophon{
		grid-column: 1 / 4;
		grid-row: 3/ 4;
	display: flex;
	justify-content: center;
	align-items: center;
	}
}